body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
}
.container{
    width: 90%;
    margin: auto;
    padding: 20px
}

h1 {
    text-align: center;
    color: blue;
}

.busca {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}