body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 0vh;
    background: linear-gradient(150deg, rgb(32, 124, 199), rgb(29, 92, 209));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100;
}
.container{
    width: 90%;
    margin: auto;
    padding: 20px
}

h1 {
    top: 50%;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-left: 100px;
}

.busca {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}
#dna {
    position: absolute;
    width: 48%;
    top: 0%;
    left: 0%;
    z-index: -1;

}

#remedio {
    position: absolute;
    width: 40%;
    top: -10%;
    left: 70%;
    z-index: -1;
}

body::-webkit-scrollbar{
    display: none;
}
